 <div class="ui inverted vertical footer segment" id="footerBox">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="six wide column">
          <h4 class="ui inverted header" id="contact">CONTACT ME</h4>
          <div class="ui inverted link list">
            <a class="phone" class="item">Phone: &nbsp 7009883965</a></br></br>
            <a class="phone" class="item">Email: &nbsp vivekkumar74@yahoo.in</a>
          </div>
        </div>
        <div class="ten wide column"></br></br>
            <button class="ui facebook button">
              <i class="facebook icon"></i>
                  Facebook
              </button>
              &nbsp &nbsp
               <button class="ui linkedin button">
                  <i class="linkedin icon"></i>
                    LinkedIn
              </button>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="../images/pic1.jpg" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item"  href="/contact">Contact Me</a>
        <a class="item" href="#">Terms of use</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>  
</body>
</html>