<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SportsInfo</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Indie+Flower" rel="stylesheet">
	</head>
	<body>	
		<div class="container">
			<div id="landing-header">
				<h1>Sports<span>COM</span></h1>
				<div class="row">
					<ui class="main-nav">
						<li id="1"><a href="/"> <span>HOME</span> </a></li>
						<li id="2"><a href=""> ABOUT </a></li>
						<li id="3"><a href=""> CONTACT </a></li>
						<li id="4"><a href="/campgrounds"> SERVICES </a></li>
					</ui>
				</div>
			</div>
		</div>
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div id=boxcontent>
			<p1><span id=p1>Information About</span><span id=p11>Diffrent Sports</span></p1>
			<p>Welcome to SportsCom!</p>
			<div id=border>
				<a href="/campgrounds">Start</a>
			</div>
		</div>
</body>
</html>
